.team-list li{
    list-style: none;
    margin-left: 0;
}

.team-list .author-image {
    display: inline-block;
    margin: 0 1em;
    position: initial;
}

.team-list .author {
    display: inline-block;
    width: 60%;
}

h1, h2, h3, .page-title, .page-description {
    font-family: 'Courier', monospace;
}